.toDoItem {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f8f9;
    padding: 20px;
    margin-bottom: 5px;
    cursor: default;

    .left {
        display: flex;
        flex-direction: row;

        &.edit {
            flex: 1;
            padding-right: 50px;
        }

        .inputWrapper {
            display: flex;
            flex: 1;

            .input {
                flex: 1;
                border: none;
                border-radius: 5px;
                padding: 0 25px 0 10px;
                font-family: Poppins;
                outline: none
            }

            .doneIcon {
                position: absolute;
                right: 75px;
                color: #bdc5c7;

                &:hover {
                    color: #888888;
                }
            }
        }
    }

    .right {
        position: absolute;
        right: 20px;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        font-size: 14px;
        color: #bdc5c7;
        
        .icon {
            margin-left: 3px;

            &:hover {
                font-size: 19px;
            }
        }
    }
}